* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #E5002B;
  color: #fff;
}

*::selection {
  background-color: #E5002B;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #E5002B;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***************************** Global Style *****************************/
p {
  font-size: 15px;
  color: #555;
}

a {
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button:active,
button:active:focus,
button:active:hover,
button:focus,
button:hover,
button:not(:disabled):not(.disabled).active,
button:not(:disabled):not(.disabled):active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #E5002B;
}

.scroll-top-btn {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background: linear-gradient(-135deg, #a90120, #E5002B);
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.scroll-top-btn img {
  width: 25px;
  -webkit-filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(163deg) brightness(116%) contrast(100%);
          filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(163deg) brightness(116%) contrast(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.scroll-top-btn:hover img {
  -webkit-animation: floating-y .5s infinite alternate;
          animation: floating-y .5s infinite alternate;
}

/***************************** Animations *****************************/
@-webkit-keyframes floating-y {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
@keyframes floating-y {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-bck {
  -webkit-animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/***************************** Start Edit Navbar & Footer *****************************/
.navbar {
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: 1;
}

.navbar.navbar-fixed-top.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  background-color: #000;
  -webkit-box-shadow: 0px 2px 5px 0px #f5a1b1;
          box-shadow: 0px 2px 5px 0px #f5a1b1;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar.navbar-fixed-top.scrolled .navbar-brand img {
  width: 150px;
}

.navbar .navbar-brand img {
  margin-top: -30px;
  width: 240px;
}

.navbar .nav-link {
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.navbar .nav-link:hover, .navbar .nav-link.active {
  color: #E5002B;
}

.navbar .butn {
  padding: 0;
  height: 45px;
  line-height: 45px;
  border: 1px solid #ddd;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 0 5px;
}

.navbar .butn.contact-btn {
  width: 150px;
}

.navbar .butn.lang-btn {
  width: 45px;
}

.navbar .butn:hover {
  background-color: #e6002a;
  border: 1px solid #E5002B;
}

.navbar .navbar-toggler {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
}

.navbar .navbar-toggler.active .navbar-toggler-icon {
  -webkit-box-shadow: 0px 0px 0px grey;
          box-shadow: 0px 0px 0px grey;
  background: rgba(0, 0, 0, 0);
}

.navbar .navbar-toggler.active .navbar-toggler-icon::before {
  top: 0px !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .navbar-toggler.active .navbar-toggler-icon::after {
  top: 0px !important;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar .navbar-toggler .navbar-toggler-icon {
  width: 15px;
  height: 2px;
  background: #E5002B;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navbar-toggler .navbar-toggler-icon::after, .navbar .navbar-toggler .navbar-toggler-icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: #E5002B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navbar-toggler .navbar-toggler-icon::after {
  top: -5px;
  right: 0px;
}

.navbar .navbar-toggler .navbar-toggler-icon::before {
  top: 5px;
  right: 0px;
}

footer {
  padding: 150px 0 20px 0;
  background-color: #E62247;
  position: relative;
}

footer .content {
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}

footer .content .logo {
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .content .title {
  color: #fff;
  margin-bottom: 1.3rem;
  letter-spacing: 1.5px;
}

footer .content .links a {
  display: block;
  color: #ccc;
  font-size: 14px;
  margin: 15px 0;
}

footer .content .links a:hover {
  color: #0A2543;
}

footer .content .social-links a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  color: #E62247;
  margin: 0 2px;
}

footer .content .social-links a:hover {
  background-color: #0A2543;
  color: #fff;
}

footer .copyright {
  padding: 25px 0 15px 0;
  border-top: 1px solid #999;
  text-align: center;
}

footer .copyright .p {
  font-weight: bold;
  color: #fff;
}

footer .pattern {
  position: absolute;
  top: 125px;
  right: 14%;
}

/***************************** Public classes *****************************/
.text-h .subtitle {
  color: #E5002B;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-h .title {
  color: #12345B;
  font-weight: 400;
}

.modal .modal-content {
  padding: 15px;
  border-radius: 15px;
}

.modal .modal-content .modal-title {
  color: #E5002B;
  letter-spacing: 1px;
  font-weight: bold;
}

.modal .modal-content .btn {
  padding: 0.675rem 1.5rem;
}

.modal .modal-content .btn.btn-primary {
  background-color: #E5002B;
  border: 1px solid #E5002B;
}

.modal .modal-content .btn.btn-primary:hover {
  background-color: #c21b3a;
}

.contactModal .contact_info .items {
  padding: 10px 5px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  border: 1px solid #E5002B;
  width: 100%;
}

.contactModal .contact_info .items .icons {
  text-align: center;
  color: #E5002B;
}

.contactModal .contact_info .items .icons i {
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #fff4;
}

.contactModal .contact_info .items .info {
  padding: 0 5px;
}

.contactModal .contact_info .items .info h3 {
  color: #555;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.6;
  margin: 0;
}

.contactModal .form-control {
  font-size: 12px;
}

.contactModal input {
  height: 50px;
}

.contentModal .modal-body {
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 1;
}

.contentModal .modal-body .p {
  line-height: 1.8rem;
}

.contentModal .pattern {
  position: absolute;
  top: 100px;
  right: 25px;
  opacity: .7;
}

/***************************** Start Edit Home Page *****************************/
header {
  background: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 100px;
}

header::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), color-stop(#3333), to(#000));
  background-image: linear-gradient(to bottom, #999, #3333, #000);
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header .inner-header {
  position: relative;
  z-index: 1;
  margin-top: 70px;
}

header .inner-header .text-box {
  background-color: #000000;
  padding: 4vw 3vw;
}

header .inner-header .text-box .subtitle {
  color: #E5002B;
  letter-spacing: 3px;
}

header .inner-header .text-box .title {
  color: #fff;
  font-weight: bold;
}

header .inner-header .text-box .p {
  color: #ccc;
  line-height: 1.7rem;
}

header .inner-header .text-box .btns-wrapper {
  display: inline-block;
}

header .inner-header .text-box .btns-wrapper .main-btn {
  width: 150px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #E5002B;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}

header .inner-header .text-box .btns-wrapper .main-btn:hover {
  background-color: #a90120;
}

header .inner-header .text-box .btns-wrapper .video-btn {
  color: #fff;
}

header .inner-header .text-box .btns-wrapper .video-btn .icon {
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: #E5002B;
  line-height: 45px;
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .inner-header .text-box .btns-wrapper .video-btn:hover {
  color: #E5002B;
}

header .inner-header .text-box .btns-wrapper .video-btn:hover .icon {
  background-color: #E5002B;
  color: #fff;
}

.clients-sec {
  padding: 50px 0;
}

.clients-sec .swiper-slide {
  padding-top: 15px;
}

.clients-sec .partner-img {
  width: 70%;
  height: 40px;
  display: block;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.clients-sec .partner-img:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.about-sec {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
}

.about-sec .img-box {
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}

.about-sec .img-box .main-img {
  width: 90%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-sec .img-box .card-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
}

.about-sec .text-box {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5vw 4vw;
}

.about-sec .text-box .p {
  color: #2a425d;
  line-height: 1.7rem;
}

.about-sec .text-box .more-btn {
  font-size: 18px;
  color: #12345B;
}

.about-sec .text-box .more-btn .icon {
  width: 30px;
  margin: 0 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-sec .text-box .more-btn:hover {
  color: #E5002B;
}

.about-sec .text-box .more-btn:hover .icon {
  -webkit-animation: tada 1.5s both;
          animation: tada 1.5s both;
}

.about-sec .pattern {
  position: absolute;
  right: -100px;
  top: 30px;
}

.about-goals {
  padding: 50px 0;
}

.about-goals .card {
  border: none;
  position: relative;
  margin-bottom: 45px;
}

.about-goals .card .content {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #0A2543;
  border: 1px solid #0A2543;
  border-radius: 50%;
  display: block;
  padding: 65px 25px;
  position: relative;
  z-index: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.about-goals .card .content .icon-t {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.about-goals .card .content .icon-t img {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.about-goals .card .content .title {
  color: #fff;
}

.about-goals .card .content .p {
  color: #ccc;
  margin-bottom: 0;
}

.about-goals .card .content .more-btn {
  font-size: 18px;
  color: #fff;
}

.about-goals .card .content .more-btn .icon {
  width: 30px;
  margin: 0 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-goals .card .content .more-btn:hover {
  color: #E5002B;
}

.about-goals .card .content .more-btn:hover .icon {
  -webkit-animation: tada 1.5s both;
          animation: tada 1.5s both;
}

.about-goals .card:hover .content {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border: 1px solid #E5002B;
}

.about-goals .card:hover .icon-t {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about-goals .card:hover .icon-t img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about-goals .card::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: #E5002B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E5002B));
  background-image: linear-gradient(to bottom, #fff, #E5002B);
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
}

.services-sec {
  padding: 70px 0;
}

.services-sec .serv_card {
  background-color: #0A2543;
  padding: 25px 20px;
  position: relative;
  overflow: hidden;
}

.services-sec .serv_card .content {
  position: relative;
  z-index: 1;
}

.services-sec .serv_card .content .icon {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.services-sec .serv_card .content .title {
  color: #fff;
}

.services-sec .serv_card .content .p {
  color: #ccc;
  line-height: 1.8rem;
  font-size: 13px;
}

.services-sec .serv_card .content .more-btn {
  font-size: 18px;
  color: #E62247;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.services-sec .serv_card .content .more-btn .right-arrow-icon {
  width: 30px;
  margin: 0 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.services-sec .serv_card .content .more-btn:hover {
  color: #fff;
}

.services-sec .serv_card .content .more-btn:hover .right-arrow-icon {
  -webkit-animation: tada 1.5s both;
          animation: tada 1.5s both;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(88deg) brightness(105%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(88deg) brightness(105%) contrast(105%);
}

.services-sec .serv_card::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #E5002B;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.services-sec .serv_card::after {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #E5002B;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.services-sec .serv_card .pattern {
  position: absolute;
  right: 25px;
  top: 25px;
  opacity: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  z-index: 1;
}

.services-sec .serv_card:hover::before, .services-sec .serv_card:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.services-sec .serv_card:hover .pattern {
  opacity: 1;
}

.services-sec .serv_card:hover .icon,
.services-sec .serv_card:hover .right-arrow-icon {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(88deg) brightness(175%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(88deg) brightness(175%) contrast(105%);
}

.services-sec .serv_card:hover .more-btn {
  color: #fff;
}

.portfolio-sec {
  padding: 70px 0;
}

.portfolio-sec .nav-link {
  color: #999;
  font-weight: bold;
  background-color: transparent;
}

.portfolio-sec .nav-link.active {
  background: transparent;
  color: #E62247;
}

.portfolio-sec .tab-wrapper .port_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.portfolio-sec .tab-wrapper .port_img.lg {
  height: 360px;
}

.portfolio-sec .tab-wrapper .port_img.sm {
  height: 170px;
}

.partners-sec {
  padding: 70px 0;
}

.partners-sec .partner-img {
  width: 100%;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.partners-sec .partner-img:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.contact-sec {
  padding: 70px 0;
  position: relative;
}

.contact-sec .text-box {
  padding: 5vw 4vh;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-sec .text-box .links a {
  display: block;
  margin-bottom: 15px;
}

.contact-sec .text-box .links a .icon {
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 5px;
}

.contact-sec .text-box .links a:hover {
  color: #E62247;
}

.contact-sec .text-box .links a:hover .icon {
  -webkit-animation: tada 1.5s both;
          animation: tada 1.5s both;
}

.contact-sec .map iframe {
  border-radius: 25px;
}

.contact-sec .line {
  position: absolute;
  left: 0;
  top: 28%;
}

.newsletter-sec {
  padding: 70px 0 0 0;
}

.newsletter-sec .inner {
  background-color: #0A2543;
  background: url(../images/newsletter-bg.png);
  background-size: cover;
  border-radius: 25px;
  padding: 85px 0;
  width: 90%;
  display: block;
  margin: 0 auto -100px auto;
  position: relative;
  z-index: 1;
}

.newsletter-sec .inner .text-box {
  padding: 0 4vh;
}

.newsletter-sec .inner .text-box .text-h .subtitle,
.newsletter-sec .inner .text-box .text-h .title {
  color: #fff;
}

.newsletter-sec .inner .text-box .text-h .p {
  color: #ccc;
}

.newsletter-sec .inner form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.newsletter-sec .inner .form-group {
  position: relative;
  width: 90%;
  margin: auto;
}

.newsletter-sec .inner .form-group .form-control {
  height: 70px;
  border-radius: 10px;
  font-size: 13px;
}

.newsletter-sec .inner .form-group .form-control::-webkit-input-placeholder {
  letter-spacing: 1.5px;
}

.newsletter-sec .inner .form-group .form-control:-ms-input-placeholder {
  letter-spacing: 1.5px;
}

.newsletter-sec .inner .form-group .form-control::-ms-input-placeholder {
  letter-spacing: 1.5px;
}

.newsletter-sec .inner .form-group .form-control::placeholder {
  letter-spacing: 1.5px;
}

.newsletter-sec .inner .form-group .submit-btn {
  background-color: #E5002B;
  border: 1px solid #E5002B;
  color: #fff;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/*# sourceMappingURL=style.css.map */